html {
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("https://images.unsplash.com/photo-1538513633433-8cb0c2f89e56?ixlib=rb-1.2.1&q=99&fm=jpg&crop=entropy&cs=tinysrgb&w=2048&fit=max&ixid=eyJhcHBfaWQiOjcwOTV9");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    display: inline-block;
    list-style: decimal;
    padding-left: 0px;
    /* border: red solid; */
}

section {
    text-align: center;
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40rem;
    height: 28rem;
    margin: auto;
}

.js-clock {
    font-size: 1050%;
    cursor: default;
    letter-spacing: -5px;
    font-weight: 500;
    user-select: none;
    margin: 0;
}

.js-user {
    font-size: 3rem;
}

.js-todo {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.js-list {
    font-family: 'Nanum Gothic', sans-serif;
    width: 35%;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 auto;
}

.todoQeus {
    margin-top: 4rem;
}

.js-input {
    display: block;
    margin: 0 auto;
    width: 50%;
    background: 0;
    border: 0;
    border-bottom: 2px solid #fff;
    font-weight: 500;
    text-align: center;
    font-size: 120%;
    line-height: 120%;
    margin-top: 1rem;
}

.js-input:focus {
    outline: none;
    color: white;
}

.hiding {
    display: none;
}

.showing {
    display: block;
}
